Continents: 
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="All" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">All</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="Asia" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">Asia</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="Africa" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">Africa</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="North America" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">North America</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="South America" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">South America</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="Antarctica" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">Antarctica</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="Europe" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">Europe</label>
</div>
<div class="form-check form-check-inline mar">
    <input class="form-check-input" type="radio" name="fil" value="Oceania" [(ngModel)]="filt" (change)="onch()">
    <label class="form-check-label">Oceania</label>
</div>
<br>